<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="guidanceModal modal-style">
        <h3 class="text-center">Методические рекомендации для преподавателя</h3>
        <h3 class="text-center">Методические рекомендации для обучающегося (самостоятельная работа):</h3>
        <div>
            <p>Преподавателю:</p>
            <ul>
                <li>Обеспечить формирование у обучающихся умений самостоятельно применять знания в разнообразных
                    ситуациях, в т.ч. при выполнении заданий разного уровня сложности.</li>
                <li>Контролировать выполнение заданий.</li>
                <li>Проверить степень усвоения знаний, умений при выполнении заданий разного уровня сложности.</li>
                <li>Мотивировать обучающихся для получения максимального количества баллов и подтверждения
                    профессиональной компетентности.</li>
                <li>Отмечать степень вовлеченности обучающихся в работу.</li>
                <li>Акцентировать внимание на итоговых результатах прохождения всего задания.</li>
                <li>Подготовить обучающихся к самооценке и рефлексии.</li>
            </ul>
        </div>
        <div>
            <p>Студенту:</p>
            <ul>
                <li>Запустите интерактивный тренажер по выполнению заданий.</li>
                <li>Последовательно ознакомьтесь с условиями учебной задачи.</li>
                <li>Ответьте на вопросы.</li>
                <li>Обратите внимание на отсутствие подсказок и ограниченное число попыток.</li>
                <li>При выполнении заданий обратите внимание на рекомендации преподавателя.</li>
                <li>Выполните задания на проверку приобретенных знаний, умений и навыков:
                    <ul>
                        <li>интерактивное задание с выбором одного правильного ответа.</li>
                        <li>интерактивное задание с выбором нескольких правильных ответов.</li>
                    </ul>
                </li>
                <li>Осуществите самопроверку и предварительную оценку.</li>
                <li>Используйте технологию пошагового контроля по результату за каждое задание.</li>
                <li>Сформулируйте конечный результат своей работы.</li>
                <li>При возникновении ошибок возвращайтесь к повторному изучению теоретического материала.</li>
            </ul>

        </div>
    </div>
</body>

</html>