<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="modal-style">
        <h3>ФГОС СПО:</h3>
        <p>Федеральный государственный образовательный стандарт среднего профессионального образования по специальности
            09.02.07 информационные системы и программирование</p>
        <p>Утвержден приказом Министерством образования и науки Российской Федерации от 9 декабря 2016 г. № 1547
            09.02.07 информационные системы и программирование</p>
        </p>
        <h3>ПОП-П Профессионалитета:</h3>
        <p>09.02.07 Информационные системы и программирование</p>
        <h3>Профессиональный модуль:</h3>
        <p>ПМ 09 Проектирование, разработка и оптимизация веб приложений</p>
        <h3>МДК 09.01</h3>
        <p>Проектирование и разработка веб-приложений</p>
        <h3>Тема</h3>
        <p>Разработка сетевых приложений</p>
    </div>
</body>

</html>