<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="guidanceModal modal-style">
        <h3 class="text-center">Методические рекомендации для преподавателя</h3>
        <h3 class="text-center">Методические рекомендации для обучающегося (самостоятельная работа):</h3>
        <div>
            <p>Преподавателю:</p>
            <ul>
                <li>
                    Организовать просмотр динамической инфографики и последующую беседу по уточнению и конкретизации
                    первичных
                    знаний.
                </li>
                <li>
                    Создать условия для освоения обучающимися знаний в форме интерактивной деятельности.
                </li>
                <li>
                    Формировать у обучающихся мотивацию к усвоению нового материала, образованию как основному
                    инструменту достижения личного и профессионального успеха.
                </li>
                <li>
                    Познакомить обучающихся с основами информационно-коммуникационных технологий.
                </li>
                <li>
                    Ознакомить с рабочим циклом клиент-серверной технологии.
                </li>
                <li>
                    Раскрыть назначение программного интерфейса для обеспечения обмена данными между процессами.
                </li>
                <li>
                    Охарактеризовать типы скриптовых языков.
                </li>
                <li>
                    Ознакомить с устройством браузера.
                </li>
                <li>
                    Содействовать установлению в сознании обучающихся устойчивых связей между накопленным и новым
                    опытом познавательной деятельности.
                </li>
                <li>Фиксировать предложенные обучающимися гипотезы, курировать их обсуждение.</li>
            </ul>
        </div>
        <div>
            <p>Студенту:</p>
            <ul>
                <li>
                    Ознакомьтесь с теоретическим материалом по новой теме. Просмотрите динамическую инфографику по теме
                    «Разработка сетевых приложений».
                </li>
                <li>
                    Если в процессе изучения материала возникнут вопросы, запишите их для дальнейшего обсуждения с
                    преподавателем и/или с группой обучающихся.
                </li>
                <li>
                    Обратите внимание на основные вопросы, подтверждающие взаимосвязь знаний и умений при изучении
                    модуля:
                    <ul>
                        <li>устройство прикладное программное обеспечение для просмотра страниц.</li>
                        <li>рабочие циклы обмена информацией между клиентом и сервером.</li>
                        <li>назначение системы обеспечения обмена данными между процессами.</li>
                        <li>устройство скриптовых языков в разработке сетевых приложений.</li>
                    </ul>
                </li>
                <li>При необходимости прослушайте/просмотрите материал еще раз.</li>
                <li>Возвращайтесь к наиболее сложным аспектам темы.</li>
                <li>
                    Соблюдайте здоровье-сберегающий режим: чередуйте работу с электронными носителями с отдыхом и
                    гимнастикой
                    для глаз.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>